body {
background-color: rgb(158, 158, 248) ;
font: normal 15pt arial ;

}

header {

    color: white; 
text-align: center;  

}

section{

    background: white; 
    border-radius: 10px ; 
    padding: 15px; 
    width: 500px; 
    margin: auto; 
    box-shadow: 5px 5px 10px black ; 
  


}

div {

    text-align: center;
    padding: 8px;

}

footer { 

    color: rgb(247, 243, 243);
    text-align: center;
    font-style: italic;
    width: auto;
    line-height: 100% ;  

    
}

.redes {

    width: 100%;
    text-align: center;
}

.redes img {
    width: 2.75%;


}

.redes ul li {

    list-style-type: none ;
    display: inline;

}
